# Version: 1.2.1
.cache/
.pytest_cache/
.mypy_cache/

dist/
*.egg-info/

.vscode/
.idea/

**/__samples__/
**/__pycache__/

htmlcov/

.coverage
.notifier
.DS_Store
*.pyc
*~
*.conf
*.db
*.orig

.config/*.json
.config/*.yml
!.config/*.template.*
configuration/
configuration.json
poetry.lock
